
.App {
  background-image: url('./cityscape-urban-pink-foggy-sunrise-skyscrapers-5k-5120x2880-1323.jpg');
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.App-header {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

.App-body {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}